/README-android.md
/README-cmake.md
/README-directfb.md
/README-dynapi.md
/README-emscripten.md
/README-gesture.md
/README-hg.md
/README-ios.md
/README-linux.md
/README-macosx.md
/README-nacl.md
/README-pandora.md
/README-platforms.md
/README-porting.md
/README-psp.md
/README-raspberrypi.md
/README-touch.md
/README-wince.md
/README-windows.md
/README-winrt.md
/README.md
/doxyfile
